@charset 'utf-8';


/**************************** common ******************************/
.mt0 {margin-top: 0 !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt35{margin-top: 35px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mt60{margin-top: 60px !important;}
.mt65{margin-top: 65px !important;}
.mt70{margin-top: 70px !important;}
.mt75{margin-top: 75px !important;}
.mt80{margin-top: 80px !important;}

.pb0 {padding-bottom: 0 !important;}
.pb5{padding-bottom: 5px !important;}
.pb10{padding-bottom: 10px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}
.pb40{padding-bottom: 40px !important;}
.pb50{padding-bottom: 50px !important;}
.pb60{padding-bottom: 60px !important;}

.pt25{padding-top: 25px !important;}

body{color:#464646;}

a{color:#464646; text-decoration: none;}
a:focus{color:#f19b55;}
em{font-style: normal;}
.strong{color:#f19b55; }

.alignC{text-align:center;}
.alignL{text-align:left;}
.alignR{text-align:right;}

.outpadding{padding:0 25px;}
.contentArea{padding:0 0 40px 0;}

.bdnone{border:none !important;}
.bdgray10{border-top:10px solid #f7f7f7;}

.floatL{float: left;}
.floatR{float: right;}
.fr {float: right;}
.fl {float: left;}
.fn {float: none;}

.t_gray2{color:#d9d9d9;}
.outfull{margin:0 -25px;}

/*pageTitle*/
.pageTitle{height:53px; line-height: 53px; font-size: 19px; background-color:#f19b55; border:1px solid #f19b55;  padding:0 25px 0 10px;  color:#fff;}
.pageTitle:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}
.pageTitle i{float:left; width: 25px; height: 25px; margin-top:13px;}
.pageTitle span{display:inline-block; float: left; line-height: 53px; vertical-align: middle;}

.pageTitle.close{padding:0 10px 0 25px;}
.pageTitle.close i{float:right;}
.pageTitle.close span{display:inline-block; float: left;}

/*processBar*/
.processBar{background-color: #f7f7f7; padding: 13px 25px; min-height: 19px; line-height: 1.4em; font-size:13px; color:#7f7f7f; position:relative;}
.processBar:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}
.processBar .text{display:block; padding-right:60px;}
.processBar .step{display:block; position: absolute; top:50%; right:25px; margin-top:-10px;}

/* borderd10 */
.borderd10{border-top:10px solid #f7f7f7;}

/*text input*/
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"]{width:100%; height:38px; line-height:34px; /*width:-webkit-calc(100% - 10px);*/
font-size: 15px; color:#464646;
border-radius: 0px; /* iOS 둥근모서리 제거 */
-webkit-appearance: none; -moz-appearance: none; appearance: none;/* 네이티브 외형 감추기 */
border-bottom:1px solid #d2d2d2; background:#fff; border-radius:0px; text-indent:5px;

transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; /* 에니메이션 */
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial;
}
input[type="password"]{color:#f19b55; line-height:34px; letter-spacing: 0.5em; -webkit-text-stroke-width:.3em;}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="time"]:focus{border-bottom:1px solid #f19b55; position:relative; z-index:1;}

.input{display:inline-block; padding:0; position:relative;}

.input_safe{text-align: center;}
.input_safe input{width:38px; height:38px; line-height:20px; border:1px solid #d2d2d2; background:#f7f7f7; text-indent:0;  text-align: center; letter-spacing:0; /*color: transparent; text-shadow: 0 0 0 #f19b55;*/ padding-top: -10px; -webkit-text-stroke-width:.3em;}
.input_safe input:focus{border:1px solid #f19b55; background:#fff; position:relative; z-index:1; -webkit-text-stroke-width:.3em;}
.input_safe input:after{}

.input_safe a{display:inline-block; vertical-align: middle; width:38px; height:38px; line-height:38px; border:1px solid #d2d2d2; background:#f7f7f7; text-indent:0;  text-align: center; letter-spacing:0;  text-decoration:none;  color:#f19b55;}
.input_safe a:focus{border:1px solid #f19b55; background:#fff; position:relative; z-index:1;}

@media screen and (max-width: 334px) {
    .input_safe a{width:30px; height:30px; line-height:30px; font-size:13px;}
}

.input_div{display:inline-block; padding:0; position:relative;}
.input_div a{text-decoration: none; display: block;  width:100%; /*height:38px; line-height:34px;*/ min-height: 30px; line-height: 24px; padding:5px 0 5px 0;
font-size: 15px; color:#464646; border-bottom:1px solid #d9d9d9; background:#fff;  padding-left:5px;}
.input_div a:focus{/*border-bottom:1px solid #f19b55;*/ position:relative; z-index:1;  color:#f19b55;}

/* 주민등록번호 입력 */
.input.idnumber {border-bottom: 1px solid #d2d2d2;}
.input.idnumber input[type=tel] {border: 0;}
.input.idnumber > label {display: inline-block; width: 107px; margin-left:5px;}
.input.idnumber > a.second {display: inline-block; width: 47%; margin-left:5px;}
.input.idnumber > a.second {font-size: 10px;}
.input.idnumber > a.second .txt_placeholder {font-size: 15px;}

/* 인증번호 입력 */
.input.certNum {position: relative;}
.input.certNum .timer,
.input.certNum .bl_noti {
    position: absolute;
    top: 50%;
    z-index: 10;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.input.certNum .timer {right: 36px;}
.input.certNum .bl_noti {right: 0;}

/* 제목이 있는 input */
.input.hasTitle {position: relative; padding-left: 20%; box-sizing: border-box;}
.input.hasTitle label span {position: absolute; top: 0; left: 0; font-size: 13px; font-weight: 500; color: #464646; margin-top: 13px;}
.input.hasTitle label input {width: 100%;}


/*select*/
select {
width: /*200px*/ /*-webkit-calc(50% - 5px)*/ 100%; /* 원하는 너비설정 */
height:38px; line-height:38px; font-size: 15px;
background:#fff url("../../common/sywimg/bg_selectbox.png") no-repeat right bottom; /* 네이티브 화살표 대체 */
background-size:34px 38px;
padding: 0px 20px 0px 0px;
text-indent:5px;
display:inline-block;
font-family: inherit; /* 폰트 상속 */
border:0px; border-radius: 0px; /* iOS 둥근모서리 제거 */
-webkit-appearance: none; -moz-appearance: none; appearance: none;/* 네이티브 외형 감추기 */
}
select option:disabled {display:none;}

.select{display:inline-block; padding:0; position:relative; border: 1px solid #d9d9d9;}
.select select{color:#464646;}
.select select.current{color:#464646;}
.select.focus{border-bottom:1px solid #8b6fd2;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; /* 에니메이션 */
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial;
}

.div_select {display:inline-block; padding:0; position:relative;}
.div_select a{
    text-decoration:none;
    width: /*200px*/ /*-webkit-calc(50% - 5px)*/ -webkit-calc(100% - 20px); /* 원하는 너비설정 */
    height:38px; line-height:38px; font-size: 15px;
    border: 1px solid #d9d9d9;
    background:#fff url("../../common/sywimg/bg_selectbox.png") no-repeat right bottom; /* 네이티브 화살표 대체 */
    background-size:34px 38px;
    padding: 0px 20px 0px 0px;
    text-indent:5px;
    color: #464646;
    display:inline-block;
    overflow: hidden; text-overflow: ellipsis;  white-space: nowrap;
}
.div_select a.focus{
    background-position: right bottom; border-bottom:1px solid #8b6fd2;
}
.div_select .sub{
    width:100%; display: none; position: absolute; top: 40px; left:1px;
    background: #fdf7f2; z-index: 100;
}
.div_select .sub .optionList{display: block; border-bottom:1px solid #fff;}
.div_select .sub .optionList li{display:block; cursor: pointer; padding:10px; font-size: 15px; color:#464646; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap;}
.div_select .sub .optionList li.on{color:#f19b55; font-weight: 500; }
.div_select.bottomLine a {border-width: 0; border-bottom-width: 1px;}

/* account_select */
.account_select {display:block; padding:0; position:relative; width:100%; margin-top:25px;}
.account_select a,
.account_select .info{
    position: relative;
    text-decoration:none;
    /* width: -webkit-calc(100% - 70px);  원하는 너비설정 */
    display: block;
    height:75px; font-size: 12px; color:#464646;
    border: 1px solid #f19b55;
    background:#fff url("../../common/sywimg/bg_selectbox.png") no-repeat right bottom; /* 네이티브 화살표 대체 */
    background-size:34px 38px;
    padding: 0px 15px 0px 85px;
    text-indent:5px;
    color: #f19b55;
    text-align:left;
    word-break: break-all;
}
.account_select.ico_none a.normal{
    padding: 0px 15px 0px 15px !important;    
}    
.account_select .info{border: 1px solid #d9d9d9; color: #7f7f7f;}
.account_select .info .picIcn,
.account_select a .picIcn{position:absolute; top:50%; left:15px; margin:-28px 0 0 0;}


.account_select .info{background: none;}
.account_select a .text,
.account_select .info .text{font-size:18px; display:block; padding-top: 15px; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap;}

.account_select a .number,
.account_select .info .number{display:block; margin-top: 5px; letter-spacing: 2px; color:#f19b55;  overflow: hidden; text-overflow: ellipsis;  white-space: nowrap;}
.account_select .info .number{color:#7f7f7f;}
.account_select a.focus{
    background-position: right bottom; border-bottom:1px solid #8b6fd2;
}

.account_select.ico_none a.normal .text{font-size:15px; color:#464646;}
.account_select.ico_none a.normal .number{font-size:13px; color:#494949; letter-spacing: 0;}
.account_select.ico_none  .sub .optionList li .number{display:block; margin-top: 5px; letter-spacing: 0px; color:#7f7f7f;}
.account_select.ico_none .sub .optionList li .text{font-size:15px; display:block; }
.account_select.ico_none .sub .optionList li {padding:15px;}


.account_select .sub{
    width:100%; display: none; margin-left: 1px;
    background: #fdf7f2; z-index: 100;
}
.account_select .sub .optionList{display: block; border-bottom:1px solid #fff;}
.account_select .sub .optionList li{display:block; cursor: pointer; padding:15px 15px 15px 85px; font-size: 12px; color:#464646; text-align: left;}
.account_select .sub .optionList li .text{font-size:18px; display:block; }
.account_select .sub .optionList li .number{display:block; margin-top: 5px; letter-spacing: 2px; color:#7f7f7f;}
.account_select .sub .optionList li.on,
.account_select .sub .optionList li.on .number{color:#f19b55; font-weight: 500; }

/*checkbox & radio*/
.checkbox{display:inline-block; border-bottom: 1px solid #d9d9d9; padding-bottom:5px; line-height: 24px;}
.checkbox.focus{border-bottom: 1px solid #8b6fd2;}
.radio{display:inline-block; border-bottom: 1px solid #d9d9d9; padding-bottom:5px; line-height:24px;}
.radio.focus{border-bottom: 1px solid #8b6fd2;}

input[type="checkbox"],
input[type="radio"] {display:none;}
input[type="checkbox"] + label,
input[type="radio"] + label{/*color:#f2f2f2;*/ font-size:15px; display:inline-block; position:relative; padding:0 0 0 30px;}

input[type="checkbox"] + label span,
input[type="radio"] + label span{width:24px;  height:24px;
    background-image:url("../../common/sywimg/icn_btn.png"); background-repeat:no-repeat; background-size:150px 150px;
    /*margin:-2px 10px 0 0;*/ display:block; cursor:pointer;}

input[type="checkbox"] + label span{background-position:-99px -81px; position:absolute; left:0; top:-1px;}
input[type="checkbox"]:checked + label span {background-position:-75px -81px; }
input[type="checkbox"]:checked + label{font-weight:500; color:#f19b55;}

input[type="radio"] + label span{background-position:-99px -81px;  position:absolute; left:0; top:-1px;}
input[type="radio"]:checked + label span {background-position:-75px -81px; color:#f19b55; }
input[type="radio"]:checked + label{font-weight:500; color:#f19b55;}

input.normal_r + label span{width:24px;  height:24px; margin:-2px 5px 0 0;}
input.normal_r + label span{background-position:-99px -105px;}
input.normal_r:checked + label span {background-position:-75px -105px;}
input.normal_r:checked + label{font-weight:500; color:#464646;}

input.big + label{display:inline-block; position:relative; padding:0px 0px 0px 40px; height:31px; line-height: 30px;}
input.big + label span{width:31px;  height:31px; /*margin:-2px 5px 0 0;*/ position:absolute; left:0; top:1px;}
input.big + label span{background-position:-106px -50px;}
input.big:checked + label span {background-position:-75px -50px;}
input.big:checked + label{color:#f19b55;}

input.small + label {padding-left: 32px;}
input.small + label span {position: absolute; top: -2px; left: 0;}

input.poll + label{display:inline-block; position:relative; padding:0px 0px 0px 40px; height:40px;}
input.poll + label span{width:38px;  height:38px; background-image: url("../../common/sywimg/icn_poll.png"); background-size:250px 250px; position:absolute; left:0; top:-2px;}
input.poll:checked + label{color:#f19b55;}
input.poll.icn1 + label span{background-position:0px 0px;} /*여행*/
input.poll.icn1:checked + label span {background-position:-38px 0px;}
input.poll.icn2 + label span{background-position:0px -38px;}/*결혼*/
input.poll.icn2:checked + label span {background-position:-38px -38px;}
input.poll.icn3 + label span{background-position:0px -76px;}/*목돈*/
input.poll.icn3:checked + label span {background-position:-76px -76px;}

input.poll.icn4 + label span{background-position:-76px 0px;}/*유럽*/
input.poll.icn4:checked + label span {background-position:-114px 0px;}

input.poll.icn5 + label span{background-position:-76px -38px;}/*일본*/
input.poll.icn5:checked + label span {background-position:-114px -38px;}

input.poll.icn6 + label span{background-position:-76px -76px;}/*대만*/
input.poll.icn6:checked + label span {background-position:-114px -76px;}

i.etc{width:38px;  height:38px; background-image: url("../../common/sywimg/icn_poll.png"); background-size:250px 250px; position:absolute; left:0; top:-2px;background-position:0px -114px;  cursor: pointer;}/*기타*/
i.etc.on{background-position:-38px -114px;}

.checkbox2 input[type="checkbox"] + label,
.checkbox2 input[type="radio"] + label {padding:5px 0 5px 30px;}

/*checkbox switch*/
.switch{display: inline-block;}
.switch input{height: 0; width: 0; visibility: hidden;}
.switch label{cursor: pointer; text-indent: -9999px; width: 46px; height: 24px; background: #d2d2d2; display: block; border-radius: 100px; position: relative; padding:0 !important;}
.switch label:after{content: ''; position: absolute; top:1px; left:1px; width: 22px; height:22px; background: #fff; border-radius: 22px; transition: 0.1s;}
.switch input:checked + label{background: #8b6fd2;}
.switch input:checked + label:after{left: calc(100%-1px); -webkit-transform: translateX(100%); transform: translateX(100%);}
.switch label:active:after{width: 22px;}


/*form_style*/
.phon_input{display:block; position: relative;}
.phon_input .select,
.phon_input .div_select{/*float:left;*/ width: 32%; -webkit-width: calc(33% - 10px); width:calc(33% - 10px); position: absolute; top: -1px; left:0; }
.phon_input .select select,
.phon_input .div_select{text-align: center; text-align-last: center; }
.phon_input .input_in{/*-webkit-width: calc(67% - 12px); width:calc(67% - 12px); 라인 2px포함*/ width:67%; float: right; border-bottom:1px solid #d9d9d9;}
.phon_input .input_in input{width:auto; border:none; /*width:calc(50% - 10px);*/ width: 40%; text-align: center;}
.phon_input .input_in input:focus{ border:none;}
.phon_input .input_in a{width:auto; border:none; /*width:calc(50% - 10px);*/ width: 40%; text-align: center; display: inline-block; height:38px; line-height: 38px;  font-size:15px; text-decoration: none;}
.phon_input .input_in a:focus{ border:none;}

/* 통신사 선택 */
.phon_input.telecom {}
.phon_input.telecom .select,
.phon_input.telecom .div_select {width: 30%;}
.phon_input.telecom .input_in {width:65%;}
.phon_input.telecom .input_in input {width: 28%;}
.input_in.focus,
.idnumber.focus{border-bottom: 1px solid #8b6fd2;}

/*검색박스*/
.search_input{position: relative; height:38px; line-height:38px; font-size: 15px; border-bottom:1px solid #d9d9d9;}
.search_input.focus{border-bottom: 1px solid #8b6fd2;}
.search_input input{width:auto; border:none;  /*-webkit-width: calc(100% - 65px); width:calc(100% - 65px);*/ width: 79%; height:38px; line-height:38px; vertical-align: top;}
.search_input input:focus{ border:none;}
.search_input a{display:block; width: 25px; height: 25px; position: absolute; background-image: url("../../common/sywimg/icn_btn.png"); background-repeat: no-repeat; background-size: 150px 150px; text-indent: -9999px; font-size: 0; line-height: 0; vertical-align: top;}
.search_input .search_cancel{top:7px; right:30px; background-position: 0px -20px;}
.search_input .search_submit{top:7px; right:0px; background-position: -25px -45px;}
.search_input .search_submit.on{background-position: 0px -45px;}

.search_input .sub{
    width:100%; display: block; position: absolute; top: 40px; left:1px;
    background: #fdf7f2; z-index: 100;
}
.search_input .sub .optionList{display: block; border-bottom:1px solid #fff;}
.search_input .sub .optionList li{display:block; cursor: pointer; padding:10px; font-size: 15px; color:#464646; line-height:1em;}
.search_input .sub .optionList li.on{color:#f19b55; font-weight: 500; }

/* btn */
.btn{display: inline-block; background:#fff; height:43px; line-height: 43px; border-width: 1px; border-style: solid; text-align: center; font-size:15px; text-decoration: none; width:100%;}
.btn.normal{border-color: #d9d9d9; color:#7f7f7f; font-weight:500;background-color: #fff}
.btn.important{background:#f19b55; border-color: #f19b55; color:#fff; font-weight:500;}
.btn.gray{background:#d9d9d9; border-color: #d9d9d9; color:#fff; font-weight:500;}
.btn.more{background:#fff; border-color: #d9d9d9; color:#7f7f7f;}
.btn.more i{margin:0 5px;}
.btn.mini{background:#fff; border-color: #d9d9d9; color:#464646; width: auto; padding:0 10px;}
.btn.focus{border-color: #f19b55 !important; background:#f19b55 !important;  color: #fff !important;}

.btnArea .btn{display:block; width:auto;}

.btnArea.two{position:relative;}
.btnArea.two:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}
.btnArea.two .btn{width:48.5%;  width:-webkit-calc(50% - 5px);}
.btnArea.two .btn{float:right;}
.btnArea.two .btn:first-child{ float:left;}

.contentArea.in_fixed .btnArea.two{}
.contentArea.in_fixed .btnArea.two:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}
.contentArea.in_fixed .btnArea.two .btn{ width:50%;}
.contentArea.in_fixed .btnArea.two .btn{float:right;  margin-right:-2px;}
.contentArea.in_fixed .btnArea.two .btn:first-child{float:left; margin-left:-2px;}

.contentArea.in_fixed .btnWrap.two{}
.contentArea.in_fixed .btnWrap.two:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}
.contentArea.in_fixed .btnWrap.two .btn{ width:50%;}
.contentArea.in_fixed .btnWrap.two .btn{float:right;  margin-right:-2px;}
.contentArea.in_fixed .btnWrap.two .btn:first-child{float:left; margin-left:-2px;}

.popbtnArea{text-align: center; margin-left:-15px; margin-right:-15px;}
.popbtnArea .popbtn{display:block; height:38px; line-height:38px; border-width: 1px; border-style: solid; text-align: center; font-size: 15px; font-weight: 500; text-decoration:none;}
.popbtnArea .popbtn.normal{background:#f19b55; border-color: #f19b55; color:#fff;  border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.popbtnArea .popbtn.grayline{background:#ffffff; border-color: #d9d9d9; color:#7f7f7f;  border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}

.t_right{text-align: right;}

/* btn & bl icon*/
i{display: inline-block; background: url("../../common/sywimg/icn_btn.png") no-repeat 0 0; background-size:150px 150px; vertical-align: middle; line-height: 0; font-size: 0;}
i.down{width:15px; height:15px; background-position: 0 0;}
i.up,
i.down.up{width:15px; height:15px; background-position: -15px 0;}
i.left{width:15px; height:15px; background-position: -50px 0;}
.list_check i.right,
.tt2 i.right{width:28px; height:28px; background-position: -47px -95px; z-index:10;} /* 리스트내 right 아이콘을 더 크게*/

i.right{width:15px; height:15px; background-position: -65px 0;}
i.right2{width:15px; height:15px; background-position: -110px 0;}
i.help{width:20px; height:20px; background-position: -30px 0;}
i.toast{width:25px; height:25px; background-position: 0px -70px;}
i.pageBack{width:25px; height:25px; background-position: -25px -70px;}
i.pageClose{width:25px; height:25px; background-position: -50px -70px;}
i.bl_step{width:10px; height:10px; background-position: -10px -95px;}
i.bl_step.on{background-position: 0px -95px;}
i.bl_plus{width:15px; height:15px; background-position: -25px -20px;}
i.bl_plus.minus,
i.bl_minus{width:15px; height:15px; background-position: -50px -35px;}

i.bl_noti{width:20px; height:20px; background-position: -50px -15px;}
i.bl_noti2{width:15px; height:15px; background-position: -95px 0px;}
i.bl_noti3{width:15px; height:15px; background-position: -107px -15px;}
i.bl_noti4{width:15px; height:15px; background-position: -122px -15px;}
i.bl_help{width:20px; height:20px; background-position: -70px -15px;}
i.icnSearch{width:15px; height:15px; background-position: -80px 0px;}
i.icnCal{width:17px; height:17px; background-position: -90px -15px;}
i.icnSearch{width:15px; height:15px; background-position: -80px 0px;}

i.icnhart{width:15px; height:15px; background-position: -65px -35px;}
i.icndel{width:15px; height:15px; background-position: -80px -35px;}

i.mainIcn{background: url("../../common/sywimg/icn_main.png") no-repeat 0 0; background-size:280px 80px; width:40px; height:40px;}
i.mainIcn.icn1{background-position: 0 0;} /*체험해볼까*/
i.mainIcn.icn2{background-position: -40px 0;} /*가입하기*/
i.mainIcn.icn3{background-position: -80px 0;} /*통장만들기*/
i.mainIcn.icn4{background-position: -120px 0;} /*포트폴리오보기*/
i.mainIcn.icn5{background-position: -160px 0;} /*포트폴리오매수*/
i.mainIcn.icn6{background-position: -200px 0;} /*포트폴리오매도*/
i.mainIcn.icn7{background-position: -240px 0;} /*포트폴리오조정*/
i.mainIcn.icn8{background-position: 0 -40px;} /*매매내역*/
i.mainIcn.icn9{background-position: -40px -40px;} /*펀드입금캘린더*/
i.mainIcn.icn10{background-position: -80px -40px;} /*로보 어드바이저 리포트*/
i.mainIcn.icn11{background-position: -120px -40px;} /*가입내역 및 해지*/


i.picIcn {background: url("../../common/sywimg/icn_pic.png") no-repeat 0 0; background-size:250px 250px; width:55px; height:55px;}
i.picIcn.icn1{background-position: 0 0;} /*예금*/
i.picIcn.icn2{background-position: -55px 0;} /*로보*/
i.picIcn.icn3{background-position: -110px 0;} /*카드*/

i.statusIcn {background: url("../../common/sywimg/icn_pic.png") no-repeat 0 0; background-size:250px 250px; width:90px; height:90px;}
i.statusIcn.icn1{background-position: 0 -55px;} /*완료*/
i.statusIcn.icn2{background-position: -90px -55px;} /*설명서 아이콘*/

i.icnPort {background: url("../../common/sywimg/icn_port_link.png") no-repeat 0 0; background-size:350px 50px; width:25px; height:25px;}
i.icnPort.link1{background-position: 0 0;}
i.icnPort.link2{background-position: -50px 0;}
i.icnPort.link3{background-position: -100px 0;}
i.icnPort.link4{background-position: -150px 0;}
i.icnPort.link5{background-position: -200px 0;}

i.icnSet {background: url("../../common/sywimg/icn_setting.png") no-repeat 0 0; background-size:180px 30px; width:30px; height:30px;}
i.icnSet.icn1{background-position: 0 0;}  /*소식알림*/
i.icnSet.icn2{background-position: -30px 0;}  /*개인정보*/
i.icnSet.icn3{background-position: -60px 0;}  /*계좌별칭*/
i.icnSet.icn4{background-position: -90px 0;}  /*간편인증*/
i.icnSet.icn5{background-position: -120px 0;}  /*계좌카드*/
i.icnSet.icn6{background-position: -150px 0;}  /*지문등록 해지*/

i.txtClear{display:block; width: 25px; height: 25px; background-image: url("../../common/sywimg/icn_btn.png"); background-repeat: no-repeat; background-size: 150px 150px; text-indent: -9999px; font-size: 0; line-height: 0; vertical-align: middle; background-position: 0px -20px;}

i.gender{background: url("../../common/sywimg/icn_pic.png") no-repeat 0 0; background-size:250px 250px; width:51px; height:51px;}
i.gender.women{background-position: 0 -145px;}
i.gender.man{background-position: -51px -145px;}

i.icnNone{background: url("../../common/sywimg/icn_pic.png") no-repeat 0 0; background-size:250px 250px; width:33px; height:27px; background-position: -102px -145px;}


/*layer_popup*/
.layer_popup{display: none; width:100%; z-index: 100;}
.bg_layer{display:block; position: fixed; background:#000; opacity: 0.7; top: 0; left: 0; width:100%; height: 100%; z-index: 1000;}
.layer_popup .popup{position: fixed; left: 50%; z-index: 10000; background: #fff; width:100%; width:calc(100% - 70px); border-radius: 5px;}

.layer_popup a.pop_cls{display: block; width: 20px; height: 20px; position: absolute; right: 10px; top: 10px; text-indent: -9999px; background: red;} /*colse btn*/
.layer_popup .popCont{margin: 0 auto; position: relative; width: 100%;}
.layer_popup .popCont:after{clear:both; display: block; content: "";}
.layer_popup .popCont .pop_tit{background:#f7f7f7; font-size:15px; font-weight: 500; padding:15px 0; margin-top:0; border-bottom:1px solid #d7d7d7; text-align: center; color:#464646; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.layer_popup .popCont .pop_cont{padding: 15px 15px 0px 15px; font-size: 13px; position: relative;}
.layer_popup .popCont .pop_cont.message{padding: 20px 15px 0px 15px; font-size: 15px; line-height: 1.5em; word-break: break-all;}
.layer_popup .popCont .pop_cont.popSelect{padding:0; }
.layer_popup .popCont .pop_cont .txt_list{}
.layer_popup .popCont .pop_cont .txt_list dt{display:block; font-weight: 500; padding: 2px 0;}
.layer_popup .popCont .pop_cont .txt_list dd{display:block;  padding: 2px 0;}
.layer_popup .popCont .pop_cont .txt_list dd:before{content: " · "; display: inline-block; }

.layer_popup .popCont .pop_cont .popSelecter{display: block; font-size:15px;}
.layer_popup .popCont .pop_cont .popSelecter dt{font-weight:bold; display: block; padding:15px 0; color:#464646; text-align: center;}
.layer_popup .popCont .pop_cont .popSelecter dd{border-top:1px solid #e9e9e9;}
.layer_popup .popCont .pop_cont .popSelecter dd a{display: block; padding:15px 0; color:#464646; text-align: center; text-decoration: none;}
.layer_popup .popCont .pop_cont .popSelecter dd:last-child a{border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.layer_popup .popCont .pop_cont .popSelecter dd a:focus{background-color: #fdf7f2; font-weight:500; color: #f19b55;}

.layer_popup.toast .popup{background:transparent;}
.layer_popup.toast .popCont .pop_cont{padding:0; background-color:#464646; border-radius: 35px; z-index: 1000;}
.layer_popup.toast .popCont .pop_cont.impact{background-color:#f19b55;}
.layer_popup.toast .popCont .pop_cont {font-size:15px; color:#fff; padding:15px 20px 15px 40px; line-height: 1.2em;}
.layer_popup.toast .popCont .pop_cont i.toast{position: absolute; top:50%; left:10px; margin:-12px 0 0 0;}

.bg_layer.loading_fix{width:80%; height:25%; left:50%; top:50%; margin:-20% 0 0 -40%; border-radius:5px;}
.bg_layer.loading_fix .message{color:#fff; text-align: center; line-height:1.5em;}
.bg_layer.loading_fix .waiting{padding-top:10px;}
@media screen and (max-width: 334px) {
    .bg_layer.loading_fix .waiting{padding-top:0px;} 
}

.pop_cont.message .popbtnArea{margin-left:-15px; margin-right:-15px;}
.pop_cont.message .popbtnArea .popbtn.normal{width:49%; width:-webkit-calc(50% - 2px);  margin:0px; float:right; border-bottom-right-radius: 5px; border-bottom-left-radius: 0px;}
.pop_cont.message .popbtnArea .popbtn.grayline{width:49%; width:-webkit-calc(50% - 2px);  margin:0px; float:left; border-bottom-right-radius: 0px; border-bottom-left-radius: 5px;}

/* toggle_list */
.toggle_list {}
.toggle_list li{border-bottom: 1px solid #d9d9d9;}
.toggle_list.only li{border-bottom: none;}
.toggle_list li:first-child{border-top: 10px solid #f7f7f7;}
.toggle_list li a{display:block; padding:25px 45px 25px 25px; font-weight:500; color:#464646; text-decoration: none; position: relative; transition: color 300ms ease-in-out;}
.toggle_list li a i{float:right;}
.toggle_list li a .date {display: block; font-size: 12px; color: #7f7f7f; margin-top: 10px;}
.toggle_list li .toggle_cont{border-top: 1px solid #f1f1f1; padding:25px 35px; line-height:20px; color:#333; display: none;}
.toggle_list li a.on {color: #f19b55; transition: color 300ms ease-in-out;}
.toggle_list li a:after {content: ""; display: block; width: 12px; height: 12px; box-sizing: border-box; border-top: 2px solid #e2e2e2; border-left: 2px solid #e2e2e2; position: absolute; top: 28px; right: 28px; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); transition: transform 300ms ease-in-out;}
.toggle_list.only li a:after{display:none;}
.toggle_list li a.on:after {border-color: #f19b55; -webkit-transform: rotate(45deg); transform: rotate(45deg); transition: transform 300ms ease-in-out, border-color 300ms ease-in-out;}
.toggle_list[data-toggle-disabled=true] li .toggle_cont {display: block;}
.toggle_list.bdt0 li:first-child{border-top: 0 !important;}

/* tab_menu */
.tab_menu{display:block; background-color:#f7f7f7;}
.tab_menu:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}
.tab_menu li{display:block; float:left;  border-bottom:1px solid #d9d9d9;}
.tab_menu li a{display:block; font-size: 15px; height:43px; line-height: 43px; border-bottom:2px solid #f7f7f7; text-align: center; text-decoration:none; color:#464646;}
.tab_menu li.focus{ border-bottom:1px solid #f19b55;}
.tab_menu li.focus a{font-weight:500; color:#f19b55; border-bottom:2px solid #f19b55;}
.tab_cont{display: none;}
.tab_cont.focus{display: block;}

.tab_list{display: block; border-bottom:1px solid #f7f7f7;}
.tab_list:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}
.tab_list dt{display:block; font-size: 13px; font-weight: bold; padding:10px 0;}
.tab_list dd{display:block; }
.tab_list dd a{border-bottom:2px solid #fff; display:inline-block; padding:0 10px; float:left; height:34px; line-height: 34px; text-align: center; text-decoration: none; color:#464646;}
.tab_list dd a.focus{ border-bottom:2px solid #f19b55; }

.tab_menu2{display:block; background-color:#f7f7f7;  border-bottom:1px solid #d9d9d9; /*padding:0 25px;*/}
.tab_menu2:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}
.tab_menu2 li{display:block; float:left; margin-bottom:-1px;}
.tab_menu2 li a{display:block; font-size: 15px; height:40px; line-height: 40px; border-bottom:2px solid #f7f7f7; text-align: center; text-decoration:none; color:#464646; padding-top:3px;}
.tab_menu2 li.focus{ border-bottom:1px solid #f19b55;}
.tab_menu2 li.focus a{font-weight:500; color:#f19b55; border-bottom:2px solid #f19b55;}

/* chatArea */
.chatArea{background:#f7f7f7; padding-top:5px; padding-bottom:200px; margin-bottom:-40px;  min-height:400px; overflow:hidden;}

.chatboxArea{clear:both; background:#fff; position:relative; width:90%; margin-top: 15px; display: none; border:1px solid #d9d9d9;  border-radius: 6px;}
.chatboxArea:after{visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;}

.chatboxArea .digonalBorder_top{display:block; background:url("../../common/sywimg/bg_poll.png") no-repeat 0 0; background-size: 11px 20px; width:11px; height:10px; position: absolute; top:-1px; }

.chatboxArea.left{float:left; margin-left:-100%;  border-radius: 0 6px 6px 6px;}

.chatboxArea.right{float:right; margin-right:-100%; border:1px solid #f19b55; border-radius: 6px 0 6px 6px;}

.chatboxArea.left .digonalBorder_top{left:-11px;}
.chatboxArea.right .digonalBorder_top{margin:0 0 0 20px; background:url("../../common/sywimg/bg_poll.png") no-repeat 0 bottom; background-size: 11px 20px;  top:-1px; right:-11px;}

.chatboxbtn{clear:both; display:block; position:relative; width:90%; float:right; margin:15px 0 0 -100%; display: none;}
.chatboxbtn .digonalBorder_bottom{background-color:#f19b55; display: block; width:100%; width:-webkit-calc(100% - 12px); height:12px; margin:0 12px 0 0; position: relative;}
.chatboxbtn .chatbox{background-color: #f19b55; text-align:center; color:#fff; font-weight:500; display:block; padding:5px 0;}

.chatboxArea .chatbox{ display: block; padding:0 15px; font-size:16px; line-height:22px; word-break: keep-all; padding:15px;}
.chatboxArea .chatbox .dcs{/*display:block; font-size: 12px; color: #7f7f7f;*/}

.chatboxArea .chatbox .check_list,
.chatboxArea .chatbox .waring_list{display: block;}
.chatboxArea .chatbox .check_list li,
.chatboxArea .chatbox .waring_list li{display: block; padding:5px 0; position: relative;}
.chatboxArea .chatbox .check_list.pic li{padding:5px 0 0 0;}
.chatboxArea .chatbox .check_list.pic li:first-child{padding:0;}

.chatboxArea .waring_list{padding:10px 20px;}
.chatboxArea .waring_list.abbottom{position: absolute; left:0;}

.chatboxArea .chatbox input{text-indent:0; position: relative;}
.chatboxArea .chatbox input.only{}
.chatboxArea .chatbox .input .unit{display: block; position: absolute; top:0; right:0; line-height:40px; z-index: 10;}

.chatboxArea .chatbox .input.etc{width:auto; }
.chatboxArea .chatbox .input.etc_only {width:auto; position: relative; padding-left:31px;}
.chatboxArea .chatbox .average_click{display:block; position:absolute; bottom: -35px; left:0; color:#7f7f7f; padding:0 0 5px 0 ; font-size:12px;}
.chatboxArea .chatbox .average_click.focus{color:#7f7f7f;}
.chatboxArea .chatbox .average_click.focus i.down{ background-position: -15px 0;}

.chatboxArea .chatbox .average_txt{display: block; position: absolute; top:-10px; left:-50px; display: none;  font-size:12px; line-height:40px; color:#7f7f7f;}
.chatboxArea .chatbox .etc_only .average_txt{ top:0px;}
.chatboxArea .chatbox .average_txt strong{font-weight: normal; color:#000;}
.chatboxArea .chatbox .pic .average_txt { top:0px;}
.chatboxArea .chatbox .pic label{display:block; padding:0;}
.chatboxArea .chatbox .pic label span{margin-top:10px; margin-left:5px;}

.chatArea .btnArea{width:90%;  display: none;}


.chatArea .pic_bg{display:block; background-size:cover; background-position: center; height:80px; padding:10px 0 0 35px;} /* 여행선택시 배경화면 */
.chatArea .pic_bg.pic1{background-image: url("../../common/sywimg/bg_check1.png");}
.chatArea .pic_bg.pic2{background-image: url("../../common/sywimg/bg_check2.png");}
.chatArea .pic_bg.pic3{background-image: url("../../common/sywimg/bg_check3.png");}
.chatArea .pic_bg.pic4{background-image: url("../../common/sywimg/bg_check4.png");}
.chatArea .pic_bg.pic5{background-image: url("../../common/sywimg/bg_check5.png");}
.chatArea .pic_bg.pic6{background-image: url("../../common/sywimg/bg_check6.png");}
.chatArea .pic_bg.pic7{background-image: url("../../common/sywimg/bg_check7.png");}

.waring_list span{display:inline-block; position:relative; padding:0px 0px 5px 20px; /*height:30px;*/ font-size:12px; line-height:18px; color:#464646;}
.waring_list i.waring{display:block; position:absolute; left:0; top:2px;}
.waring_list i.waring{width:15px; height:15px; background-position: -95px 0px;}



/*etc*/
::-webkit-input-placeholder { /* WebKit browsers */ color: #d9d9d9; font-size: inherit;  letter-spacing: 0em; font-weight: normal; -webkit-text-stroke-width:.0em;} :-moz-placeholder { color: #d9d9d9; opacity: 1;  font-size: inherit;  letter-spacing: 0em;  font-weight: normal; -webkit-text-stroke-width:.0em;} ::-moz-placeholder { color: #d9d9d9; opacity: 1;  font-size: inherit; letter-spacing: 0em;  font-weight: normal; -webkit-text-stroke-width:.0em;} /*:-ms-input-placeholder {color: red; }*/
/*input[type="text"].another::-webkit-input-placeholder { color: orange;}*/


.btn_top_move{display: block; position: fixed; width: 40px; height: 45px; bottom: 55px; right: 20px; background:url("../../common/sywimg/icn_pic.png") no-repeat -135px -144px; background-size: 250px 250px;
    z-index: 10000; display: none;}

/* rulebox */
.wrap.rulebox {padding:0;}
.wrap.rulebox .contentArea{height:100%; position:relative; background:#f7f7f7; padding:0;}  
.wrap.rulebox .processBar{position:absolute; top:0; left:0; width:80%; width:-webkit-calc(100% - 50px);}
.wrap.rulebox .processBar.second{top:50%;}
.wrap.rulebox .rule_div{position:absolute; top:45px; left:0; background:#fff;  width:100%; height:41%;  height:-webkit-calc(50% - 45px); overflow:scroll;}
.wrap.rulebox .rule_div.second{top:50%; top:-webkit-calc(50% + 45px);}


.input_password.bd1{border-bottom:1px solid #d9d9d9;}
.input_password.bd10{border-bottom:10px solid #f7f7f7;}

.bd_top10{display:block; height:10px; background:#f7f7f7;}

.note.android_check .tt2{display:none;}